:root {
  --space-cadet: #171738ff;
  --blue-gray: #6b9ac4ff;
  --tiffany-blue: #97d8c4ff;
  --antiflash-white: #eff2f1ff;
  --xanthous: #f4b942ff;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(45deg, var(--blue-gray), var(--tiffany-blue));
  color: var(--antiflash-white);
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.header {
  text-align: center;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  color: var(--antiflash-white);
}

.content {
  text-align: center;
}

.description {
  font-size: 1.2rem;
  margin-top: 10px;
  color: var(--space-cadet);
}

.email {
  margin-top: 15px;
  font-size: 1rem;
  color: var(--space-cadet);
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.footer p {
  margin: 0;
}
